.section {
    margin-top: 0;

    @media screen and (max-width: 1139px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1140px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 30px;

    @media screen and (min-width: 1140px) {
        font-size: 36px;
        margin-bottom: 50px;
    }
}