.section-team {
    background-color: $secondaryBackgroundColor;
}

.team {

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    @media screen and (min-width: 1140px) {
        display: flex;
        justify-content: space-between;
    }
}

.team__item {

    @media screen and (min-width: 768px) and (max-width: 1139px) {
        width: 354px;
        height: 536px;
        margin: 15px;
    }

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 1140px) {
        width: 270px;
    }

    background-color: $primaryWhiteColor;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 10px;
}

.team__description {
    color: $secondaryTextColor;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 16px;
}

.team__image {
    margin-top: 0;
    margin-bottom: 30px;
}

.team__item>img {
    width: 100%;
}

.team-media {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 1139px) {
        padding-bottom: 24px;
    }

    @media screen and (min-width: 1140px) {
        margin-bottom: 30px;
    }
}

.team-media__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: none;
    fill: $iconColor;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: $accentColor;
    }

    &:not(:last-child) {
        margin-right: 10px;
    }

}

.team-media__link:hover,
.team-media__icon:hover {
    fill: $primaryWhiteColor;
    cursor: pointer;
}

