$primaryTextColor: #212121;
$primaryWhiteColor: #fff;
$primaryBackgroundColor: #e5e5e5;
$secondaryTextColor: #757575;
$accentColor: #2196f3;
$secondaryBackgroundColor: #f5f4fa;
$thirstlyBackgroundColor: #2f303a;
$borderColor: #eee;
$iconColor: #afb1b8;